<!-- HEADER -->
<header class="header">
    <div class="header-nav">
        <div class="header-logo">
            <img src="{{ asset('img/graphics/logo.png') }}" alt="Logo de LabBoite" />
        </div>
        <div class="header-tabs">
            <ul class="tabs-container">
                {% for theme in themes %}
                    <li>
                        <a 
                            href="{{ path('category_index', {'slug': theme.slug}) }}" 
                            class="tab-group {{ theme.slug == tool.category.theme.slug ? "active" : null}}"
                        >
                            {{ theme.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="header-section">
        <div class="header-title-sub"><p>{{ tool.type }}</p></div>
        <div class="header-title-main"><h1>{{ tool.name }}</h1></div>
        <nav class="header-section-nav">
            <ul class="tool-nav-container">
                <li><a title="Information" href="{{ path('information_index', {'categorySlug': tool.category.slug, 'themeSlug': tool.category.theme.slug, 'slug': tool.slug}) }}"><span class="icon icon-info tool-nav-icon tool-nav-link {{ app.request.attributes.get('_route') == 'information_index' ? 'tool-nav-active' : null}}"></span></a></li>
                <li><a title="Notice" href="{{ path('notice_index', {'categorySlug': tool.category.slug, 'themeSlug': tool.category.theme.slug, 'slug': tool.slug}) }}"><span class="icon icon-notice tool-nav-icon tool-nav-link {{ app.request.attributes.get('_route') == 'notice_index' ? 'tool-nav-active' : null}}"></span></a></li>
                <li><a title="Consommable" href="{{ path('consumable_index', {'categorySlug': tool.category.slug, 'themeSlug': tool.category.theme.slug, 'slug': tool.slug}) }}"><span class="icon icon-consumables tool-nav-icon tool-nav-link {{ app.request.attributes.get('_route') == 'consumable_index' ? 'tool-nav-active' : null}}"></span></a></li>
                <li><a title="Aide" href="{{ path('question_index', {'categorySlug': tool.category.slug, 'themeSlug': tool.category.theme.slug, 'slug': tool.slug}) }}"><span class="icon icon-faq tool-nav-icon tool-nav-link {{ app.request.attributes.get('_route') == 'question_index' ? 'tool-nav-active' : null}}"></span></a></li>
                <li><a title="Astuce" href="{{ path('tip_index', {'categorySlug': tool.category.slug, 'themeSlug': tool.category.theme.slug, 'slug': tool.slug}) }}"><span class="icon icon-tips tool-nav-icon tool-nav-link {{ app.request.attributes.get('_route') == 'tip_index' ? 'tool-nav-active' : null}}"></span></a></li>
            </ul>
        </nav>
    </div>
</header>