{% extends 'base.html.twig' %}

{% import _self as renderJobMacro %}
{% macro characteristic(characteristic) %}
<li>
    {{ form_row(characteristic)}}
    <div class="delete_characteristic">
</li>
{% endmacro %}

{% block title %}Edit Information{% endblock %}

{% block body %}
    <h1>Edit information</h1>

    {{ form_start(form) }}
        <h2>Information</h2>
        {{ form_row(form.information)}}
        <h2>Characteristics</h2>
         <ul class="characteristics" data-prototype="{{ renderJobMacro.characteristic(form.characteristic.vars.prototype)|e }}">
            {% for characteristic in form.characteristic %}
            {{ renderJobMacro.characteristic(characteristic)}}
            {% endfor %}
        </ul>
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('tool_index', {'slug': tool.category.slug}) }}">Back to list</a>
{% endblock %}


{% block javascripts %}
<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>



<script>
    var $collectionHolder;

    // setup an "add a tag" link
    var $addCharacButton = $('<button type="button" class="add_charac_link">Add a characteristic</button>');
    var $newLinkLi = $('<li></li>').append($addCharacButton);

    jQuery(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('ul.characteristics');

        // add a delete link to all of the existing tag form li elements
        $collectionHolder.find('li').each(function() {
            addTagFormDeleteLink($(this));
        });

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find('input').length);

        $addCharacButton.on('click', function(e) {
            // add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
        });
    });

    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        var newForm = prototype;
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<li></li>').append(newForm);
        addTagFormDeleteLink($newFormLi);
        $newLinkLi.before($newFormLi);
    }

    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormButton = $('<button type="button">Delete</button>');
        $tagFormLi.append($removeFormButton);

        $removeFormButton.on('click', function(e) {
            // remove the li for the tag form
            $tagFormLi.remove();
        });
    }
</script>
{% endblock %}