{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}

{% block body %}
    <h1>Informations</h1>

    <h2>Information</h2>
    <table class="table">
        <tbody>
            {% if tool.information.id is defined %}
                <tr>
                    <th>Id</th>
                    <td>{{ tool.information.id }}</td>
                </tr>
                <tr>
                    <th>PicturePath</th>
                    <td>{{ tool.information.picturePath }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ tool.information.content }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>no records found</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <h2>Characteristics</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
        {% for charac in tool.characteristic %}
            <tr>
                <td>{{ charac.id }}</td>
                <td>{{ charac.content }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('information_index') }}">back to list</a>

    <a href="{{ path('information_edit', {'name': tool.name}) }}">edit</a>
{% endblock %}
