{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <!-- HEADER -->
    <header class="header">
        <div class="header-nav">
            <div class="header-logo">
                <img src="{{ asset('img/graphics/logo.png') }}" alt="Logo de LabBoite" />
            </div>
            <div class="header-tabs">
                <ul class="tabs-container">
                    {% for theme in themes %}
                        <li>
                            <a 
                                href="{{ path('category_index', {'slug': theme.slug}) }}" 
                                class="tab-group {{ theme.slug == currentTheme.slug ? "active" : null}}"
                            >
                                {{ theme.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </header>

    <!-- CONTENT -->
    <main>
        <div class="container">
            <div class="index index-categories">
                {% for category in categories %}
                    <article class="category-item">
                        <div class="card">
                            <div class="card-img card-img-category">
                                <a href="{{ path('tool_index', {'themeSlug': category.theme.slug, 'slug': category.slug})}}" class="card-link">
                                    {% if category.thumbnailName is null %}
                                        <img src="{{ asset('img/demo-thumb.jpg') }}" alt="Category name">
                                    {% else %}
                                        <img src="{{ asset('upload/category/' ~ category.thumbnailName) }}" alt="Category name">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="card-title card-title-category">
                                <h2 class="title-category">{{ category.name }}</h2>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </main>




    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DisplayOrder</th>
                <th>ThumbnailName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.displayOrder }}</td>
                <td>{{ category.thumbnailName }}</td>
                <td>
                    <a href="{{ path('category_edit', {'categorySlug': category.slug, 'themeSlug': category.theme.slug}) }}">edit</a>
                    <a href="{{ path('tool_index', {'slug': category.slug, 'themeSlug': category.theme.slug}) }}">see tools</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    {# <a href="{{ path('category_new', {'slug': theme.slug}) }}">Create new</a> #}
{% endblock %}
