{% set currentRoute = app.request.attributes.get('_route') %}

<!-- HEADER -->
<header class="header">
    <div class="header-admin">
        <div class="header-admin-title">Administration</div>
        <div class="header-admin-nav">
            <ul class="admin-nav-container">
                {% if 'ROLE_SUPER-ADMIN' in app.user.roles %}
                    <li><a href="{{ path('user_index') }}"><span class="icon icon-users admin-nav-icon admin-nav-link"></span></a></li>
                {% endif %}
                <li><a href="{{ path('app_logout') }}"><span class="icon icon-logout admin-nav-icon admin-nav-link"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="header-nav">
        <div class="header-logo">
            <img src="{{ asset('img/graphics/logo.png') }}" alt="Logo de LabBoite" />
        </div>
        <div class="header-tabs">
            <ul class="tabs-container">
                {% for theme in themes %}
                    <li>
                        <a 
                            href="{{ path('admin_category_index', {'slug': theme.slug}) }}" 
                            class="tab-group {{ theme.slug == tool.category.theme.slug ? "active" : null}}"
                        >
                            {{ theme.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="header-section">
        <div class="header-title-sub"><p>{{ tool.type }}</p></div>
        <div class="header-title-main"><h1>{{ tool.name }}</h1></div>
        <nav class="header-section-nav">
            <ul class="tool-nav-container">
                <li>
                    <a href="{{ path('admin_information_index', {'categorySlug': tool.category.slug, 'themeSlug': tool.category.theme.slug, 'slug': tool.slug}) }}" title="Information">
                        <span class="icon icon-info tool-nav-icon tool-nav-link {{ currentRoute == 'admin_information_index' ? 'tool-nav-active' : null}}"></span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_notice_index', {'categorySlug': tool.category.slug, 'themeSlug': tool.category.theme.slug, 'slug': tool.slug}) }}" title="Notice">
                        <span class="icon icon-notice tool-nav-icon tool-nav-link {{ currentRoute == 'admin_notice_index' ? 'tool-nav-active' : null}}"></span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_consumable_index', {'categorySlug': tool.category.slug, 'themeSlug': tool.category.theme.slug, 'slug': tool.slug}) }}" title="Consommable">
                        <span class="icon icon-consumables tool-nav-icon tool-nav-link {{ currentRoute == 'admin_consumable_index' or currentRoute == 'consumable_new' or currentRoute == 'consumable_edit' ? 'tool-nav-active' : null}}"></span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_question_index', {'categorySlug': tool.category.slug, 'themeSlug': tool.category.theme.slug, 'slug': tool.slug}) }}" title="Aide">
                        <span class="icon icon-faq tool-nav-icon tool-nav-link {{ currentRoute == 'admin_question_index' or currentRoute == 'question_new' or currentRoute == 'question_edit' ? 'tool-nav-active' : null}}"></span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_tip_index', {'categorySlug': tool.category.slug, 'themeSlug': tool.category.theme.slug, 'slug': tool.slug}) }}" title="Astuce">
                        <span class="icon icon-tips tool-nav-icon tool-nav-link {{ currentRoute == 'admin_tip_index' or currentRoute == 'tip_new' or currentRoute == 'tip_edit' ? 'tool-nav-active' : null}}"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>