{{ form_start(form) }}

    <div class="form-group form-mb-l">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': { 'class': "form-element" ~ (form.name.vars.valid == false ? ' has-error')}}) }}
        {{ form_errors(form.name) }}
    </div>
    
    <div class="form-group form-mb-l">
        {{ form_label(form.displayOrder) }}
        {{ mainform_widget(form.displayOrder, {'attr': { 'class': "form-element" ~ (form.displayOrder.vars.valid == false ? ' has-error')}}) }}
        {{ form_errors(form.displayOrder) }}
    </div> 

    <div class="form-group form-mb-l">
        <label for="category_imageFile">Vignette</label>
        <div class="form-file-preview">
            <div class="form-imgprev">
                {% if form.vars.value is not null and form.vars.value.thumbnailName is not null %}
                    <img src="{{ asset('upload/category/' ~ form.vars.value.thumbnailName) }}" alt="Thumb" id="imgPreview">
                {% else %}
                    <img src="{{ asset('img/demo-thumb.jpg')}}" alt="Thumb" id="imgPreview">
                {% endif %}
            </div>
        </div>
        <div class="form-file-button">
            {{ form_widget(form.imageFile, {'attr': { 'class': 'form-control-file'}}) }}
        </div>
        {{ form_errors(form.imageFile) }}
    </div>

    <div class="form-action">
        <button type="submit" class="button button-submit">Valider</button>
    </div>

{{ form_end(form) }}
