{% extends 'base.html.twig' %}

{% set actualTheme = category.theme %}

{% block body %}
    <!-- HEADER -->
    {% include "header/public/header.html.twig" %}

    <!-- CONTENT -->
    <main>
        <div class="container">
            <div class="index index-tools">

                {% for tool in tools %}
                    <article class="tool-item">
                        <div class="card">
                            <div class="card-img card-img-tool">
                                <a href="{{ path('information_index', {'slug': tool.slug, 'themeSlug': category.theme.slug, 'categorySlug': category.slug}) }}" class="card-link">
                                    {% if tool.pictureName is null %}
                                        <img src="{{ asset('img/default.png') }}" alt="Tool name">
                                    {% else %}
                                        <img src="{{ asset('upload/tool/' ~ tool.pictureName) }}" alt="Tool name">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="card-title card-title-tool">
                                <div><h2 class="title-tool-model">{{ tool.name }}</h2></div>
                                <div><span class="title-tool-type">{{ tool.type }}</span></div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
