{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Mail</th>
                <th>Roles</th>
                <th>Registration date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.registrationDate|date }}</td>
                <td style="display:flex">
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                    <a href="{{ path('user_change_password', {'id': user.id}) }}">change password</a>
                    {{ include('user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
    <a href="{{ path('app_login') }}">Login</a>
    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}
