{% extends 'base.html.twig' %}

{% block body %}
    {# <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Mail</th>
                <th>Roles</th>
                <th>Registration date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.registrationDate|date }}</td>
                <td style="display:flex">
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                    <a href="{{ path('user_change_password', {'id': user.id}) }}">change password</a>
                    {{ include('user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
    <a href="{{ path('app_login') }}">Login</a>
    <a href="{{ path('app_logout') }}">Logout</a> #}

    {% include "header/admin/header.html.twig" %}


    <!-- CONTENT -->
    <main>
        <div class="container">
            <div class="table">
                <div class="table-sidecontrols">
                    <div><a class="button button-small" href="{{ path('user_new') }}">Inscrire un utilisateur</a></div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>Nom d'utilisateur</td>
                            <td>Courriel</td>
                            <td>Roles</td>
                            <td>Date d'inscription</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {# <tr>
                            <td>admin</td>
                            <td>admin@mail.com</td>
                            <td>Super admin</td>
                            <td>11/11/11 10:30</td>
                            <td class="td-right">
                                <div class="table-controls">
                                    <div><a href="admin-user-edit.html"><span class="icon icon-edit table-controls-icon"></span></a></div>
                                    <div><a href="admin-user-changepassword.html"><span class="icon icon-password table-controls-icon"></span></a></div>
                                    <div><button class='icon icon-delete table-controls-icon'></button></div>
                                </div>
                            </td>
                        </tr> #}
                       {% for user in users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.mail }}</td>
                                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                <td>{{ user.registrationDate|date }}</td>
                                <td class="td-right">
                                    <div class="table-controls">
                                        <div><a href="{{ path('user_edit', {'id': user.id}) }}"><span class="icon icon-edit table-controls-icon"></span></a></div>
                                        <div><a href="{{ path('user_change_password', {'id': user.id}) }}"><span class="icon icon-password table-controls-icon"></span></a></div>
                                        <div>
                                            <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                <button class="icon icon-delete table-controls-icon"></button>
                                            </form>
                                            {# <button class='icon icon-delete table-controls-icon'></button> #}
                                        </div>
                                    </div>
                                </td>
                                {# <td style="display:flex">
                                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                                    <a href="{{ path('user_change_password', {'id': user.id}) }}">change password</a>
                                    {{ include('user/_delete_form.html.twig') }}
                                </td> #}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
